@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
*,
*:before,
*:after {
    box-sizing: border-box;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Start */

.info{
    display: block;
    font-size: 22px;
    font-weight: 600;
    opacity: 0.5;
    position: fixed;
    top: 0;
    
    right: 0;
}

.calendar-container{
    font-family: 'Open Sans', sans-serif;
    margin: 40px auto;
    width: 600px;
    position: relative;
}

.hour{
    color: #B2B2B2;
&-range {
        width: 100%;
        height: 120px;
        border-top: 1px solid #a9a9a9;

    }
&-current{
    height: 60px;
    font-size: 16px;
}
&-half{
    height: 60px;
    font-size: 12px;
}
}

.task-item {
    position: absolute;
    cursor: pointer;
    background-color: #E2ECF5;
    border-left: 3px solid #6E9ECF;
    left: 40px;
    & p{
            font-size: 14px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
    }
}

.modal{
    &-btn{
        display: block;
        position: fixed;
        top: 40px;
        right: 10px;
        cursor: pointer;
        width: 222px;
        padding: 10px 10px;
        background-color: #cdd9e6;
        border-style: none;
        font-size: 16px;
        box-shadow: 7px 21px 42px 0px rgba(134, 159, 167, 0.55);
        border-radius: 10px;
        &.hide{
            display: none;
        }
    }
    &-window{
        display: none;
        background-color: #cdd9e6;
        opacity: 0.9;
        box-shadow: 7px 21px 42px 0px rgba(134, 159, 167, 0.55);
        border-radius: 10px;
        &.active{
            display: flex;
            flex-direction: column;
            position: fixed;
            top: 40px;
            right: 0;
        }
        & p {
            margin: 20px 0;
            padding-left: 10px;
            font-weight: 600;
        }
        & input{
            padding: 10px 10px;
            font-size: 16px;
            background: linear-gradient(to right, rgba(233, 238, 246, 1) 0%, rgba(233, 238, 246, 1) 30%, rgba(168, 187, 224, 0.7) 100%);
        }
        & button{
            cursor: pointer;
            padding: 10px 10px;
            background-color: #cdd9e6;
            border-style: none;
            font-size: 16px;
            &:hover{
                background-color: #81a1cc;
                color: #f7f8fa;
            }
        }
    }
   
}